[submodule "workadventure"]
	path = workadventure
	url = https://github.com/oxzi/workadventure.git
	branch = raveadventure
[submodule "maps/workadventure-playground"]
	path = maps/workadventure-playground
	url = https://github.com/oxzi/workadventure-playground.git
[submodule "maps/rave"]
	path = maps/rave
	url = https://github.com/riotbib/workadventure-playground
